*{
    scroll-behavior: smooth;
    transition: 0.3s;
    font-family: 'Raleway', sans-serif;
}
html, body {
    max-width: 100%;
    overflow-x: hidden;
    margin: 0;
    background-image:url("/img/back.png");
    background-size: cover;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;
    
        h1{
            font-size: 3vw;
            color: azure;
        }
        h2{
            font-size: 1vw;
            animation: fadeIn ease 3s;
            animation-iteration-count: infinite;
            color: azure;
            @keyframes fadeIn{
                0% {
                  opacity:0;
                }
                25% {
                  opacity:1;
                }
                50%{
                    opacity: 0;
                }
                75%{
                    opacity: 1;
                }
                100%{
                    opacity: 0;
                }
              }

        }

}

