* {
    scroll-behavior: smooth;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;

  }
  
  html, body {
    max-width: 100%;
    overflow-x: hidden;
    margin: 0;
    background-color: rgb(46, 15, 69);
  }
  a{
    list-style: none;
    color: rgb(191, 191, 191);
    text-decoration: none;
    &:hover{
      color: rgb(255, 255, 255);
      cursor: pointer;
    }
  }
  .head{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.401) ;
    border-radius: 5vw;

    .sub{
      display: flex;
      flex-direction: row;
      justify-content: center;
      
    }
    .tittle{
      margin-bottom: 1vw;
      margin-top: 2vw;
      font-size: 2vw;
      font-weight:bold;
    }
    .subtittle{
      font-size: 1vw;
      margin-bottom: 2vw;
      margin-right: 2vw;
      margin-left: 2vw;
    }
  }
  h1{
    margin-top: 2vw;
    margin-bottom: 2vw;
    font-size: 2vw;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    justify-self: center;
    justify-items: center;


  }
  #apropos{
    display: flex;
    justify-content: center;
    p{
      text-align: center;
    }
  }
  .emoj1{
    display: flex;
    justify-content: center;
    
  
    img{
      width: 20vw;
      margin-bottom: 2vw;
    }

  }
#apropos{
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  color: rgba(255, 255, 255, 0.748);
  
}
#portfolio{
  background-color: rgb(25, 115, 25);
  height: 90vh;
  
}
#autres{
  background-color: rgb(115, 53, 25);
  height: 90vh;
}
  .end{
    background-color: rgba(251, 181, 248, 0.34);
    padding-top: 1vw;
    padding-bottom: 1vw;
    border-radius: 5vw;
    ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    align-content: center;
    justify-content: center;
    margin: 1vw;
    list-style: none;
    outline: none;
    border:none;
    li{
      margin-left: 2vw;
      margin-right: 2vw;
      i{
        font-size: 2vw;
      }
    }
    

    }
  }